# Node.js with Express and Stlyus
public/css/*.css
public/css/main/*.css
public/css/admin/*.css
/.monitor

# Eclipse
/.project
/.settings
/.buildpath

# Windows
Thumbs.db

# Ignore this in Clock Harness projects because it is created by the build system.
/Config/vhost.conf

# Vim
.*.sw[a-z]
*.un~i
tags

# OsX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# nodejs npm modules
/node_modules

# node-cluster
/pids
*.sock

# ZSH Cake plugin cache
/.cake_task_cache

coverage
### git2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

package-lock.json

test/**/*.js
test/**/*.d.ts
test/*.js
test/*.d.ts
test/temp*

tests/**/*.js
tests/**/*.d.ts
tests/*.js
tests/*.d.ts
tests/temp*
/.eslintignore
/tsconfig.json.tpl
/.eslintrc.json.tpl
/.browserslistrc
/.nvmrc
